<form class="col-md" style="margin: 0 auto; float: none">
	<button class='btn btn-danger text-center' style="width: 70px">
		<h3>
			&#128078;
		</h3>
		<p class="text-center text-white card-text">–100</p>
	</button>
</form>