<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<!-- Just an image -->
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="#">
			<img src="../../assets/f-logo.svg" width="30" height="30" alt="">
		</a>
	</nav>

	<a class="navbar-brand" href="#">
		<h1>
			FlameWarz
		</h1>
	</a>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li>

			</li>
		</ul>
	</div>
</nav>