<div class="row justify-content-center">
	<div class="col-sm-8 col-sm-offset-8">
		<h2>Flares Index</h2>
		<ul>
			{{#each flares}}
			<li>
				<a href="/flares/{{this._id}}">
					{{this.title}}
				</a>
			</li>
			{{/each}}
		</ul>
	</div>
</div>