<div class="card mt-3 mb-3">
	<div class="card-body">
		<h2 class="card-title">
			{{flare.title}}
		</h2>
		<h3 class="card-subtitle">
			SubFlame:
			<a href="{{flare.subflame}}" class="text-right">
				{{flare.subflame}}
			</a>
		</h3>
		<p class="card-text text-muted lead">
			Placeholder - views, upvotes, downvotes, date posted, date updated
		</p>
		<p class="card-text">
			{{flare.synopsis}}
		</p>
		<hr />
		<h4>
			Comments
		</h4>
	</div>
</div>