<div class="row justify-content-center">
	<div class="col-sm-10 col-sm-offset-1">

		<div class="card mt-3 mb-3">
			<div class="card-body">

				<h2 class="card-title">
					{{flare.title}}
				</h2>

				<h3 class="card-subtitle text-muted">
					<a href="{{flare.subflame}}" class="text-muted">
						{{flare.subflame}}
					</a>
				</h3>

				<p class="card-text lead">
					17 comments - 1,235 views - 01/01/19
				</p>

				<p class="card-text">
					{{flare.synopsis}}
				</p>

				<hr />

				<h3>
					Comments
				</h3>

			</div>
		</div>

	</div>
</div>