<div class='row justify-content-center'>
	<div class='col-sm-8 col-sm-offset-2 text-center'>

		<a href='/flares' class='btn btn-primary mb-2 mt-2'>
			<h2 class='text-light mb-0 mt-0'>
				See all Flares
			</h2>
		</a>

		<br />

		<a href='/f' class='btn btn-primary mb-2 mt-2'>
			<h2 class='text-light mb-0 mt-0'>
				See all SubFlames
			</h2>
		</a>

		{{#if authPyro}}

		<hr />

		<a href='/flares/new' class='btn btn-primary mb-2 mt-2'>
			<h2 class='text-light mb-0 mt-0'>
				Make a Flare
			</h2>
		</a>

		<br />

		<a href='/f/new' class='btn btn-primary mb-2 mt-2'>
			<h2 class='text-light mb-0 mt-0'>
				Make a SubFlame
			</h2>
		</a>

		{{/if}}
	</div>
</div>