<div class="row justify-content-center">
	<div class="col-sm-8 col-sm-offset-2">

		<form action="/flares/new" method="post">

			<legend>New Account</legend>

			<div class="form-group">
				<label for="pyro-name">Pyroname</label>
				<input type="text" name="title" class="form-control" id="pyro-name" placeholder="Pyroname">
			</div>


			<div class="form-group">
				<label for="pyro-email">Email</label>
				<input type="text" name="title" class="form-control" id="pyro-email" placeholder="email@email.com">
			</div>


			<div class="form-group">
				<label for="pyro-password">Password</label>
				<input type="password" name="title" class="form-control" id="pyro-password" placeholder="Password">
			</div>


			<div class="form-group">
				<label for="pyro-confirm-pw">Confirm Password</label>
				<input type="password" name="title" class="form-control" id="pyro-confirm-pw" placeholder="Password">
			</div>

			<div class='text-right'>
				<button type="submit" class="btn btn-primary" action="/pyros-signup">Become a Pyromancer</button>
			</div>

		</form>

	</div>
</div>