<div class="row justify-content-center">
	<div class="col-sm-8 col-sm-offset-2">

		<form action="/flares/new" method="post">

			<legend>New Account</legend>

			<div class="form-group">
				<label for="user-name">Username</label>
				<input type="text" name="title" class="form-control" id="user-name" placeholder="Username">
			</div>


			<div class="form-group">
				<label for="user-email">Email</label>
				<input type="text" name="title" class="form-control" id="user-email" placeholder="email@email.com">
			</div>


			<div class="form-group">
				<label for="user-password">Password</label>
				<input type="password" name="title" class="form-control" id="user-password" placeholder="Password">
			</div>


			<div class="form-group">
				<label for="user-confirm-pw">Confirm Password</label>
				<input type="password" name="title" class="form-control" id="user-confirm-pw" placeholder="Password">
			</div>

			<div class='text-right'>
				<button type="submit" class="btn btn-primary">Become a Pyromancer</button>
			</div>

		</form>

	</div>
</div>